@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-length: 20rem;
  --accent-1: #E96479;
  --accent-2: #7DB9B6;
  --light: #F2E7D5;
  --dark: #393E46;
}

body{
  background: radial-gradient(circle, transparent 25%, #F2E7D5  26%),
  linear-gradient(45deg, transparent 46%, #E3E1D1 47%, #E3E1D1 52%, transparent 53%), 
  linear-gradient(135deg, transparent 46%, #E3E1D1 47%, #E3E1D1 52%, transparent 53%);
  background-size: 6em 6em;
}

.boxes {
  background: linear-gradient(45deg, var(--accent-1) 25%, transparent 25%), 
  linear-gradient(315deg, #E96479 25%, transparent 25%),
  linear-gradient(45deg, transparent 24%,#e0576c 25%, #e0576c 45%, transparent 45%), 
  linear-gradient(315deg, transparent 24%,#e0576c 25%, #e0576c 45%, transparent 45%);
  background-size: 3em 3em;
  background-color: var(--accent-1);
}

.colorful {
  --c: linear-gradient(90deg, var(--accent-1) 25%, var(--accent-2) 0 50%, var(--light) 0 75%, var(--accent-1) 0);
}

colorful:before,
.colorful:after {
   content: "";
   flex: 1;
   background: var(--c), var(--c), var(--c), var(--c);
   background-size: 400% 26%;
   background-repeat: no-repeat;
   animation: colorful-0cr5ij 2s infinite;
}

.colorful:after {
   transform: scaleX(-1);
}

@keyframes colorful-0cr5ij {
   0% {
      background-position: 100% 0%,100% 33.33%,100% 66.66%,100% 100%;
   }

   8.33% {
      background-position: 66.66% 0%,100% 33.33%,100% 66.66%,100% 100%;
   }

   16.67% {
      background-position: 66.66% 0%,66.66% 33.33%,100% 66.66%,100% 100%;
   }

   25% {
      background-position: 66.66% 0%,66.66% 33.33%,66.66% 66.66%,100% 100%;
   }

   30%, 33.33% {
      background-position: 66.66% 0%,66.66% 33.33%,66.66% 66.66%,66.66% 100%;
   }

   41.67% {
      background-position: 33.33% 0%,66.66% 33.33%,66.66% 66.66%,66.66% 100%;
   }

   50% {
      background-position: 33.33% 0%,33.33% 33.33%,66.66% 66.66%,66.66% 100%;
   }

   58.33% {
      background-position: 33.33% 0%,33.33% 33.33%,33.33% 66.66%,66.66% 100%;
   }

   63%, 66.67% {
      background-position: 33.33% 0%,33.33% 33.33%,33.33% 66.66%,33.33% 100%;
   }

   75% {
      background-position: 0% 0%,33.33% 33.33%,33.33% 66.66%,33.33% 100%;
   }

   83.33% {
      background-position: 0% 0%,0% 33.33%,33.33% 66.66%,33.33% 100%;
   }

   91.67% {
      background-position: 0% 0%,0% 33.33%,0% 66.66%,33.33% 100%;
   }

   97%, 100% {
      background-position: 0% 0%,0% 33.33%,0% 66.66%,0% 100%;
   }
}

.shapes {
   width: 2.5rem;
   height: 1.25rem;
   background-color: var(--dark);
   animation: shapes-9nkw4omd 1.5s infinite linear;
}

.shapes:before,
.shapes:after {
   content: "";
   position: absolute;
   background: inherit;
   bottom: 100%;
   width: 50%;
   height: 100%;
   animation: inherit;
   animation-name: shapes-r89hlomd;
}

.shapes:before {
   left: 0;
   --s: -1,1;
}

.shapes:after {
   right: 0;
}

@keyframes shapes-9nkw4omd {
   0%, 30% {
      transform: translateY(0)     scaleY(1);
   }

   49.99% {
      transform: translateY(-50%)  scaleY(1);
   }

   50% {
      transform: translateY(-50%)  scaleY(-1);
   }

   70%, 100% {
      transform: translateY(-100%) scaleY(-1);
   }
}

@keyframes shapes-r89hlomd {
   0%, 10%, 90%, 100% {
      transform: scale(var(--s,1)) translate(0);
   }

   30%, 70% {
      transform: scale(var(--s,1)) translate(22.4px);
   }

   50% {
      transform: scale(var(--s,1)) translate(22.4px,22.4px);
   }
}

.pulse {
   position: relative;
   width: 2.5rem;
   height: 2.5rem;
}

.pulse:before {
   animation: pulse-u9v30vmd 1.5s infinite;
   display: block;
   content: '';
   height: 100%;
   width: 100%;
   border: 6.7px solid var(--dark);
   border-radius: 50%;
}

@keyframes pulse-u9v30vmd {
   0%, 40% {
      border-width: 1.25rem;
   }

   60% {
      border-color: var(--dark);
      border-width: 6.7px;
      opacity: 1;
      transform: scale(1);
   }

   100% {
      border-color: var(--dark);
      opacity: 0;
      transform: scale(2);
   }
}

.shapes-circle {
   width: 2.5rem;
   height: 2.5rem;
   color: var(--dark);
   position: relative;
   background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.shapes-circle:before {
   content: '';
   position: absolute;
   inset: 0;
   border-radius: 50%;
   background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
   background-size: 22.4px 22.4px;
   background-repeat: no-repeat;
   animation: shapes-77ngqcmd 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes shapes-77ngqcmd {
   33% {
      inset: -11.2px;
      transform: rotate(0deg);
   }

   66% {
      inset: -11.2px;
      transform: rotate(90deg);
   }

   100% {
      inset: 0;
      transform: rotate(90deg);
   }
}

.bars {
   width: 2.5rem;
   height:  2.5rem;
   --c: linear-gradient(var(--dark) 0 0);
   background: var(--c), var(--c), var(--c);
   background-repeat: no-repeat;
   animation: bars-4tzcsomd 1s infinite,
          bars-d0g8gh 1s infinite;
}

@keyframes bars-4tzcsomd {
   0%, 100% {
      background-size: 10.1px 100%;
   }

   33%, 66% {
      background-size: 10.1px 10.1px;
   }
}

@keyframes bars-d0g8gh {
   0%, 33% {
      background-position: 0    0,50% 50%,100% 100%;
   }

   66%, 100% {
      background-position: 100% 0,50% 50%,0    100%;
   }
}